In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [4]:
df=pd.read_csv("/content/diabetes.csv")

In [5]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
df[["SkinThickness","BMI"]].describe()

       SkinThickness         BMI
count     768.000000  768.000000
mean       20.536458   31.992578
std        15.952218    7.884160
min         0.000000    0.000000
25%         0.000000   27.300000
50%        23.000000   32.000000
75%        32.000000   36.600000
max        99.000000   67.100000

In [7]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['Glucose'], x2=None, value=146)
print(float(pvalue))
print(ztest)

5.4833686126737446e-105
-21.760593846867447

In [8]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df["DiabetesPedigreeFunction"], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-12172.18715047478

In [9]:

if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [12]:
ztest,pval1=stests.ztest(df['BloodPressure'],df['BMI'],value=100)
print(float(pval1))

0.0

In [13]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected